@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Spencer's Website";
}


<!--Standard HTML to output to the form.-->

<h1>Welcome to Spencer's Website!</h1>

<h3>Spencer Cable</h3>
<img src="img/2013 (2).JPG" id="picture" />
<p style="width: 400px">
    I hope to be able to hold my own in a strongly-typed language.
    This is my first time coding in a strongly typed language so it's definitely different!
    I also hope to compare and contrast the other web-dev languages I've used thus far to see which one I like best.
</p>

<h5>List of jobs I'm interested in:</h5>
<ul>
    <li>Database enginner</li>
    <li>Data analytics</li>
    <li>Cyber security</li>
</ul>